In [4]:
#1.Exchange String
s=str(input("enter a string:"))
a=s[0]
c=s[-1]
b=c+s[1:-1]+a
print("string is:",b)

enter a string:PYTHON
string is: NYTHOP

In [5]:
#2. A STRING FROM TWO STRING AND SWAP FIRST TWO CHARACTER
a1=str(input("Enter the first string:"))
a2=str(input("Enter the second string:"))
print("result string:",a1,a2)
x=a1[0:2]
z=a2[0:2]
a3=z+a1[2:]
a4=x+a2[2:]
print("new string is:",a3,a4)

Enter the first string:aysha
Enter the second string:fidha
result string: aysha fidha
new string is: fisha aydha

In [13]:
#3.REPLACE THE LETTER WITH S
s=str(input("Enter the string:"))
a=s[0]
b=s[1:]
st=b.replace(a,"$")
ns=s[0] + st
print("new string:",ns)

Enter the string:onion
new string: oni$n

In [1]:
#4.PRINT FIRST AND LAst
s=str(input("Enter the Name of Color : "))
p=s.split(",")
print("The First Color : ",p[0])
print("The Last Color : ",p[-1])

Enter the Name of Color : red,yellow,blue
The First Color :  red
The Last Color :  blue

In [2]:
#5.PRINT THE EXTENSION OF FILE
s=str(input("Enter the File Name :"))
p=s.split(".")
print("The Extension file is:",p[-1])

Enter the File Name :image.html
The Extension file is: html

In [8]:
#6.TUPLE OF 3RD ELEMENT
mt=tuple(input("Enter the numbers:").split(","))
print("The tuple =",mt)
print("Third one in tuple ="+mt[2]+"\tLast third in tuple ="+mt[-3])

Enter the numbers:1,2,3,4,5,6,7
The tuple = ('1', '2', '3', '4', '5', '6', '7')
Third one in tuple =3	Last third in tuple =5

In [2]:
#7.COLORSET1-COLORSET2
f=set(input("Enter colors for set f : ").split(","))
s=set(input("Enter colors for set s : ").split(","))
difference_f_s = f-s
print(f'Difference of {f} and {s}:{difference_f_s}')

Enter colors for set f : blue,black
Enter colors for set s : yellow,black,white
Difference of {'blue', 'black'} and {'yellow', 'black', 'white'}:{'blue'}

In [3]:
#8.Sort dictionary in Ascending and Descending order
student_names=input("Enter 3 Student name seperated by comma:").split(',')
students = dict(enumerate(student_names))
print("Students sorted in ascending order:",dict(sorted(students.items())))
print("Students sorted in decending order:",dict(sorted(students.items(),reverse=True)))

Enter 3 Student name seperated by comma:anu,aisha,minu
Students sorted in ascending order: {0: 'anu', 1: 'aisha', 2: 'minu'}
Students sorted in decending order: {2: 'minu', 1: 'aisha', 0: 'anu'}

In [3]:
#9.merge two Dictionaries
dic1={
    'student1':input("Enter the name of student 1: "),
    'student2':input("Enter the name of student 2: "),
    'student3':input("Enter the name of student 3: "),
    }
print("dic1",dic1)
dic2={
    'student4':input("Enter the name of student 4: "),
    'student5':input("Enter the name of student 5: "),
    
}
print("dic2",dic2)
merged_dict = {**dic1,**dic2}
print("\nMerged Dictionary:")
print(merged_dict)

Enter the name of student 1: aisha
Enter the name of student 2: fidha
Enter the name of student 3: anu
dic1 {'student1': 'aisha', 'student2': 'fidha', 'student3': 'anu'}
Enter the name of student 4: nouri
Enter the name of student 5: amee
dic2 {'student4': 'nouri', 'student5': 'amee'}

Merged Dictionary:
{'student1': 'aisha', 'student2': 'fidha', 'student3': 'anu', 'student4': 'nouri', 'student5': 'amee'}

In [4]:
#10.25 even numbers
num=range(0,25,2)
print("The even number from 0-25=",list(num))
print("sum of even number 0-25:",sum(num))

The even number from 0-25= [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum of even number 0-25: 156